<html>
    <head>
        <title>The Gif Menagerie</title>
    </head>
    <body>
    	<div>
    		<h1><a href="">The Finest Curation of Animal Gifs</a></h1>
    	</div>

    	<div>

    		<p>published: 24.09.2016, 1:06</p>
    		<h2><a href="">Latest Gif</a></h2>
    		<p>Insert whimsical description here.</p>
    	</div>
       
       <div>

    		<p>published: 24.09.2016, 1:06</p>
    		<h2><a href="">Second Freshest Gif</a></h2>
    		<p>Insert whimsical description here.</p>
    	</div>


    </body>
</html>